root = true

[*]
end_of_line = lf
insert_final_newline = false

[*.{js,jsx,jade,es6,pug}]
charset = utf-8
indent_style = space
indent_size = 2

[*.{css,scss}]
charset = utf-8
indent_style = space
indent_size = 2
