extend base/base

block content
  include layout/header

  <div class="container bg-warning">
    <div class="row bg-info">
      <div class="col-4">
        <p class="bg-dark text-light">
          column 1
        </p>
      </div>
      <div class="col-4">
        <p class="bg-dark text-light">
          column 2
        </p>
      </div>
      <div class="col-4">
        <p class="bg-dark text-light">
          column 3
        </p>
      </div>
    </div>
  </div>
