header.header
  .header-box
    .header-box_social
    .header-box_logo
      a(href="javascript:void(0)")
        i.svg-logo
          | logo
    .header-box_resources

  .header-nav
    h3
      | Menu
