/* Container Fuild
------------------------------------------------*/
.container-full{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

/* Container
------------------------------------------------*/
.container{
  width: 100%;
  padding-right: $grid-padding;
  padding-left: $grid-padding;
  margin-right: auto;
  margin-left: auto;
  max-width: $grid-max-width;
  box-sizing: border-box;

}

/* Row
------------------------------------------------*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$grid-padding;
  margin-left: -$grid-padding;
}
