// // Variables
// // --------------------------------------------------
//

// //== Colors
// //
//
$gray-base:             #212121 !default;


// //== Configs GRID
// //
//
$grid-max-width: 1366px !default;
$grid-margin: 0.52083% !default;
$grid-padding: 16px !default;
$grid-column_number: 12 !default;
$grid-column_width: (100%/$grid-column_number) - 2*$grid-margin !default;


// //== Scaffolding
// //
//
$white: #fff !default;


//
// //== Typography
// //
//
$font-family:  'PT Sans', sans-serif !default;
$default-font-size: 18px !default;
$default-font-size-int: 18 !default;
$default-line-height: 1.33 !default;

:root {
  font-family: $font-family;
  font-size: $default-font-size;
  line-height: $default-line-height;
  color: $gray-base;
  background-color: $white;
}
