// ==========================================================================
//
// STRUCTURE BASE PROJECT
// based: https://sass-guidelin.es/#architecture
//
// ==========================================================================
// import application styles
@import
  'abstracts/variables',
  'abstracts/sprite',
  'abstracts/mixins/all',
  'abstracts/placeholders/all';

  @import
    'base/all';

  @import
    'layout/all';


    .bg-warning {
      background-color: #ffc107!important;
    }
    .bg-info {
      background-color: #17a2b8!important;
    }

    .text-light {
      color: #f8f9fa!important;
    }

    .bg-dark {
      background-color: #343a40!important;
    }
